ETB310_TennantWebsite/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62834/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" />
  <xs:element name="GetAllCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="GetAllCasesResult" nillable="true" type="q1:ArrayOfServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="GetCaseResult" nillable="true" type="q2:ServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="serviceCase" nillable="true" type="q3:ServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="CreateCaseResult" nillable="true" type="q4:ServiceCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseNr" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="serviceCasePost" nillable="true" type="q5:ServiceCasePost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" minOccurs="0" name="AddPostResult" nillable="true" type="q6:ServiceCasePost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>