ETB310_TennantWebsite/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBackEndv2.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62834/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfServiceCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCase" nillable="true" type="tns:ServiceCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCase" nillable="true" type="tns:ArrayOfServiceCase" />
  <xs:complexType name="ServiceCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseNr" type="xs:int" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FlatNr" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:ArrayOfServiceCasePost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCase" nillable="true" type="tns:ServiceCase" />
  <xs:complexType name="ArrayOfServiceCasePost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCasePost" nillable="true" type="tns:ServiceCasePost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCasePost" nillable="true" type="tns:ArrayOfServiceCasePost" />
  <xs:complexType name="ServiceCasePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Private" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCasePost" nillable="true" type="tns:ServiceCasePost" />
</xs:schema>